@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face{
	font-family: 'CrimsonBold';
	src: url("../fonts/CrimsonText-Bold.ttf") format('truetype');
}

:root{
	--color-azul:#2293D7;
	--color-contenido:#808080;
	--color-titulos: #222222;
	--color-subtitulos: #757575;
	--fondo-gris:#f4f4f4;
	--color-verde:#28d1a2;
	--fondo-header:#000;
	--color-negro:#000;
	--color-negro2: #404040;
}

body{
	font-family: "Nunito", sans-serif;
	font-size: 16px;
	color: var(--color-contenido);
}
header{
	background-color: var(--fondo-header);
	padding: 20px 0;
}

#hero{
	background-image: url("../img/hero-home.jpg");
	background-size: cover;
	background-position: center;
	padding: 150px 0;
	color: #fff;
	background-blend-mode: multiply;
	background-color: rgba(0,0,0,0.45);
}
#hero h1{
	font-size: 70px;
	font-weight: 300;
	margin-bottom: 30px;
}
#hero h2{
	font-size: 18px;
	line-height: 1.6;
}
#hero .btn-dark{
	background-color: #fff;
	color: var(--color-negro);
	padding: 20px 50px;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
}

#services{
	background-color: var(--fondo-gris);
	text-align: center;
}

.padding-section{
	padding: 80px 0;
}

.titulo{
	color: var(--color-titulos);
	font-weight: 200;
	text-align: center;
	font-size: 40px;
}
.subtitulo{
	font-family: "Crimson Text", serif;
	color: var(--color-subtitulos);
	font-weight: 500;
	font-size: 18px;
	font-style: italic;
	text-align: center;
	margin-bottom: 50px;
}

#services h3{
	color: var(--color-negro2);
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}

.row-margin{
	margin-top: 20px;
}


.btn-view-more{
	background-color: var(--color-verde);
	color:#fff;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 13px;
	padding: 15px 30px;
	border-radius: 0;
	margin-top: 30px;
}

#services i{
	color: var(--color-verde);
	font-size: 40px;
	margin-bottom: 30px;
}



































